body {
    font-family: 'Open Sans', sans-serif !important;
}

.chart {
    display: inline-block;
}

#video-background {
    width: 100%;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

#overlay-text { 
    font-family: 'Open Sans', sans-serif;
    font-weight:100; 
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 2rem;
    width: 75%;
    margin: 0 auto;
    float: center;
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.chart {
    display: inline-block;
}

.endNote {
    font-size: 12.5px;
}