
.lens {
	stroke: gray;
	stroke-width: 2.5px;
	stroke-opacity: 1.0;
	fill: none;
}


.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}